<div class="row">
	<div class="col-md-3">
		<p class="blackP"><input type="text" class="langInput" ng-model="searchtxt " value=""></p>
	</div>
	<div class="col-md-9 whiteBG">
		<div class="col-md-2"><span class="marginLeft45px"> Repo </span> <span class="langCounts">228k</span></div>
		<div class="col-md-2"><span class="marginLeft45px"> Code </span><span class="langCounts">228k</span></div>
		<div class="col-md-2"><span class="marginLeft45px"> Commits </span><span class="langCounts">228k</span></div>
		<div class="col-md-2" ><span class="marginLeft45px"> Issues </span><span class="langCounts">228k</span></div>
		<div class="col-md-2"><span class="marginLeft45px"> Wikis  </span><span class="langCounts">228k</span></div>
		<div class="col-md-2"><span class="marginLeft45px"> Users </span><span class="langCounts">228k</span></div>
	</div>	
</div>

<div class="row "> 
    <div class="col-md-12 languageWhiteBG">
		<div class="col-md-8 leftDiv">
			<div class="">
				<div class="languageSection">
					<p>
						<span class="repoCount">282,955 repository results</span></p>
				</div>
			</div><hr/>
			<div class="row languageRow" ng-repeat="x in myData">
				<div class="col-md-12">
					<div class="col-md-6">
						<p><span class="fullName">{{x.name}}</span></p>
						<p class="subText">{{x.description}}</p>
					</div>
					<div class="col-md-3">
						<p><span class=""><i class="fa fa-circle yellowCircle" aria-hidden="true"></i> {{ x.language }}</span></p>
					</div>
					<div class="col-md-3">
						<p><span class=""><i class="fa fa-star" aria-hidden="true"></i> {{x.stargazers_count}}</span></p>
					</div>
				</div>
				<div class="col-md-12">
					<p >
						<ul>
							<li class="noStyleList" ><a class="author" href="/#/user">{{x.owner.login}}</a></li>
						</ul>
					</p>
					<p>{{x.updated_at}}</p>	
				</div>	<hr/><br/>
			</div>
		</div>
		<div class="col-md-4 rightDiv">
			<div class="languageSection greyBorder">
				<p>Languages</p>
				<!-- <ul>
				  	<li ng-repeat="x in myData">
					    {{ x.language }}
					  </li>
				</ul> -->
				<ul ng-repeat="(key,value) in output">
				  <li>{{key}} : {{value}}</li>
				</ul>
			</div>
		</div>   	
   </div>
</div>
  	
  